/* Center the content inside the App container */
.App {
  text-align: center;
}

/* Main container for the CSV reader section */
.csv-reader-container {
  margin-top: 20px;
}

/* Center the file input component */
.file-input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Center the table and adjust its width */
table {
  margin: 20px auto; /* Center the table horizontally */
  border-collapse: collapse;
  width: 80%; /* Adjust width as needed */
}

/* Styles for table headers and data cells */
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: center;
}

/* Styles for the general pie chart */
.pie-chart-container {
  width: 400px; /* Width of the general pie chart */
  height: 400px; /* Height of the general pie chart */
  margin: 0 auto; /* Center the chart */
}

/* Styles for the larger expense chart */
.expense-chart-container {
  width: 1400px; /* Triple the size of the general pie chart */
  height: 700px;
  margin: 0 auto; /* Center the chart */
}

/* Container for the charts to align them side by side */
.charts-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the charts */
  margin-bottom: 20px; /* Adds some space below the charts */
}

/* Styles for the button container to keep buttons aligned */
.button-container {
  display: flex;
  gap: 10px; /* Adds space between buttons */
  justify-content: center; /* Centers the buttons horizontally */
  margin-bottom: 20px; /* Adds space below the buttons */
}

.show-table-button {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  margin: 10px 0;
}

.expense-chart-container {
  width: 1400px; /* Triple the size of the general pie chart */
  height: 700px;
  margin: 0 auto; /* Center the chart */
  text-align: center; /* Center the title inside the container */
}

.chart-title {
  margin-bottom: 10px; /* Space between the title and the chart */
  font-size: 1.5em;
  color: #333; /* Adjust as needed */
}
