.App {
  text-align: center; /* Center text inside the App container */
}

.csv-reader-container {
  margin-top: 20px;
}

.csv-reader-container input,
.csv-reader-container button {
  margin: 10px;
}

table {
  margin: 20px auto; /* Center the table horizontally */
  border-collapse: collapse;
  width: 80%; /* Adjust width as needed */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: center;
}

.pie-chart-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  gap: 10px; /* Adds space between buttons */
  justify-content: center; /* Centers the buttons horizontally */
  margin-bottom: 20px; /* Adds space below the buttons */
}

.pie-chart-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
